<div class="text-center">
    <div class="row px-4">
        <div class="col-12" [ngClass]="{'card mb-3 linear-bg': showBackground}">
            <div class="row g-0 px-4 mt-20">
                <div class="col-3 col-md-2 px-0 pr-2">
                    <img src="assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
                </div>
                <div class="col-8 col-md-10 text-left px-0 br-l h-62">
                    <h5 class="card-title fs-14 font-600">
                        <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                        <div class="fs-22 heading3"> Basic Education</div>

                        <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="heading2 pb-10" *ngIf="showTitle">
        AVSAR Learner Wallet
    </div>
    <div class="pb-20" *ngIf="showTitle">
        {{'WELCOME_TO_YOUR_ACADEMIC_WALLET' | translate}}
    </div>
</div>