<div class="container pb-0 mt-20">
    <div class="row  text-center">
            <div class="col-12">
                <div class="mb-3">
                    <div class="row g-0 p-4 mt-20">
                    <div class="col-3 col-md-2 px-0">
                            <img src="assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
                    </div>
                    <div class="col-8 col-md-10 text-left px-0 br-l h-62">
                        <h5 class="card-title fs-14 font-600">
                        <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                        <div class="fs-22 heading3"> Basic Education</div>
                        
                        <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                        </h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <div class="heading2 pb-10 text-center">
            UlP Learner Wallet
        </div>
        <div class="pb-20 text-center">
        {{'WELCOME_TO_YOUR_ACADEMIC_WALLET' | translate}}
        </div>
        <div class="h3 mb-3">{{'REGISTER' | translate}}</div>
        <div class="mb-3 pb-10">
            <label for="exampleFormControlInput1">{{'AADHAAR' | translate}}</label>
            <input type="email" class="form-control p-4" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 pb-10">
            <label for="exampleFormControlInput1">{{'NAME' | translate}}</label>
            <input type="email" class="form-control p-4" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 pb-10">
            <label for="exampleFormControlInput1">{{'SCHOOL' | translate}}</label>
            <input type="email" class="form-control p-4" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 pb-10">
            <label for="exampleFormControlInput1">{{'SCHOOL_ID' | translate}}</label>
            <input type="email" class="form-control p-4" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 pb-10">
            <label for="exampleFormControlInput1">{{'PHONE_NO' | translate}}</label>
            <input type="email" class="form-control p-4" id="exampleFormControlInput1" placeholder="">
        </div>
        
        <div class="pb-10 text-center">
            <button type="button" class="login-btn bg-blue-dark font-600 mt-4"  data-toggle="modal" data-target="#exampleModal">{{'RECEIVE_OTP' | translate}}</button>
        </div>
    </div>
</div>

<!-- GET OTP POPUP -->
<div class="modal" tabindex="-1"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
    <div class="modal-content">
        <div class="text-right">
            <button type="button" class="btn-close text-right p-2" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h5 class="modal-title text-center text-primary-color pb-4">{{'ENTER_OTP' | translate}}</h5>
            <div class="input-group pb-40">
                <input type="text" class="form-control p-4" placeholder="{{'ENTER_OTP' | translate}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="modal-footer justify-content-space-evenly">
        <button type="button" class="btn btn-secondary bg-blue-dark btn-padding" data-toggle="modal" data-target="#exampleModal1">{{'REGISTER' | translate}}</button>
        </div>
    </div>
    </div>
</div>

<!-- GET Approval POPUP -->
<div class="modal" tabindex="-1"  id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
    <div class="modal-content">
        <div class="modal-body message">
        <h5 class="modal-title text-center text-primary-color pb-4">{{'REGISTRATION_APPROVAL' | translate}} <br>{{'PENDING' | translate}} !</h5>
           <div class="text-center">
            {{'CONTACT_YOUR_SCHOOL_APPROVAL' | translate}}<br><br>
            {{'PHONE_NO' | translate}} : <a href=“tel:+918953389654” class="text-primary-color">+91 8953389654</a>
           </div>
        </div>
        <div class="modal-footer justify-content-space-evenly border-none">
        <button type="button" class="btn btn-secondary bg-blue-dark btn-padding my-2" data-dismiss="modal">{{'CONTACT_SCHOOL' | translate}}</button>
        </div>
    </div>
    </div>
</div>