<div class="container pb-0 mt-20">
    <app-global-header [showTitle]="true"></app-global-header>
    <div>
        <div class="h3 mb-3 text-center">{{'REGISTER' | translate}}</div>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 pb-10">
                <label for="aadhar">{{'AADHAAR' | translate}}</label>
                <input type="text" class="form-control p-4" id="aadhar" name="aadhar" formControlName="aadhar"  placeholder="">
                <p class="text-red" *ngIf="aadhar.invalid && aadhar.touched">Incorrect aadhar Number</p>
            </div>
            <div class="mb-3 pb-10">
                <label for="name">{{'NAME' | translate}}</label>
                <input type="text" class="form-control p-4" id="name" name="aadhar" formControlName="name" placeholder="">
                <p class="text-red" *ngIf="name.invalid && name.touched">Name is required</p>
            </div>
            <div class="mb-3 pb-10">
                <label for="school">{{'SCHOOL' | translate}}</label>
                <select class="form-control" id="school" formControlName="school">
                    <option>SNVM</option>
                    <option>CCEM</option>
                    <option>BIT</option>
                    <option>VITS</option>
                  </select>
                <!-- <input type="text" class="form-control p-4" id="school" name="school" formControlName="school" placeholder=""> -->
                <p class="text-red" *ngIf="school.invalid && school.touched">School is required</p>
            </div>
            <div class="mb-3 pb-10">
                <label for="schoolId">{{'SCHOOL_ID' | translate}}</label>
                <input type="text" class="form-control p-4" id="schoolId" name="schoolId" formControlName="schoolId" placeholder="">
                <p class="text-red" *ngIf="schoolId.invalid && schoolId.touched">Enter valid School Id</p>
            </div>
            <div class="mb-3 pb-10">
                <label for="studentId">{{'STUDENT_ID' | translate}}</label>
                <input type="text" class="form-control p-4" id="studentId" name="studentId" formControlName="studentId" placeholder="">
                <p class="text-red" *ngIf="studentId.invalid && studentId.touched">Enter valid Student Id</p>
            </div>
            <div class="mb-3 pb-10">
                <label for="phone">{{'PHONE_NO' | translate}}</label>
                <input type="text" class="form-control p-4" id="phone" name="phone" formControlName="phone" placeholder="">
                <p class="text-red" *ngIf="phone.invalid && phone.touched">Enter valid phone number</p>
                <!-- <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">  
                    <p>Enter a valid Mobile</p>
                </div>   -->
            </div>
            
            <div class="pb-10 text-center">
                <button type="submit" class="login-btn bg-blue-dark font-600 mt-4" [disabled]="registrationForm.invalid">{{'REGISTER' | translate}}</button>
                <!-- <button type="button" class="login-btn bg-blue-dark font-600 mt-4"  data-toggle="modal" data-target="#exampleModal">{{'RECEIVE_OTP' | translate}}</button> -->
            </div>
    </form>
    </div>
</div>

<!-- GET OTP POPUP -->
<div class="modal" tabindex="-1"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
    <div class="modal-content">
        <div class="text-right">
            <button type="button" class="btn-close text-right p-2" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h5 class="modal-title text-center text-primary-color pb-4">{{'ENTER_OTP' | translate}}</h5>
            <div class="input-group pb-40">
                <input type="text" class="form-control p-4" placeholder="{{'ENTER_OTP' | translate}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="modal-footer justify-content-space-evenly">
        <button type="button" class="btn btn-secondary bg-blue-dark btn-padding" data-toggle="modal" data-target="#exampleModal1">{{'REGISTER' | translate}}</button>
        </div>
    </div>
    </div>
</div>

<!-- GET Approval POPUP -->
<div class="modal" tabindex="-1"  id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
    <div class="modal-content">
        <div class="modal-body message">
        <h5 class="modal-title text-center text-primary-color pb-4">{{'REGISTRATION_APPROVAL' | translate}} <br>{{'PENDING' | translate}} !</h5>
           <div class="text-center">
            {{'CONTACT_YOUR_SCHOOL_APPROVAL' | translate}}<br><br>
            {{'PHONE_NO' | translate}} : <a href=“tel:+918953389654” class="text-primary-color">+91 8953389654</a>
           </div>
        </div>
        <div class="modal-footer justify-content-space-evenly border-none">
        <button type="button" class="btn btn-secondary bg-blue-dark btn-padding my-2" data-dismiss="modal">{{'CONTACT_SCHOOL' | translate}}</button>
        </div>
    </div>
    </div>
</div>