<img src="assets/images/camera.png" *ngIf="!isScanCompleted" alt="" class="img-center">
<h4 class="text-align">{{'SCAN_QR_CODE'|translate}}</h4>

<div class="scanner" *ngIf="!isScanCompleted">
    <quar-scanner (scanSuccess)="scanSuccessHandler($event)" (scanError)="onError($event)"></quar-scanner>
</div>
<div class="text-center mt-5" *ngIf="false">
    <img src="assets/images/flash.png" alt="" class="pr-4">
    <img src="assets/images/frontcamera.png" alt="">
</div>
<div class="scan-result" *ngIf="loader">
    <div class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="sr-only">{{'LOADING'|translate}}</span>
        </div>
    </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center flex-column" *ngIf="invalidQRCode">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{'Invalid_QR-Code' | translate}}</h4>
        <p>Please scan valid QR Code</p>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="scanAgain()">{{'RETRY_SCAN' | translate}}</button>
    </div>
</div>