.scan-result {
    text-align: -webkit-center;
    margin-top: 50%;
}
.scanner {
    margin: 50px auto 10px;
    max-width: 300px;
    background: #dbdbdb;
    height: 400px;
    border: 2px dashed #4e4e4f;
    border-style: dashed;
}
.img-center{
    position: absolute;
    top: 248px;
    left: 43%;  
}
h1.text-center{
    color: #5526f5;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}
