<h6 class="font-weight-bold mt-3 ml-3">
    <i onClick="history.go(-1); return false;" class="fas fa-arrow-left mr-2" aria-hidden="true"></i>
    <!-- {{'SCAN_THE_QR_CODE'|translate}} -->
</h6>
<!-- <div class="container text-center pb-0 mt-20 wallet">
    <app-global-header></app-global-header>
</div> -->
<div class="scanner">
    <quar-scanner (scanSuccess)="scanSuccessHandler($event)" (scanError)="onError($event)"></quar-scanner>
</div>
<h5>{{qrString}}</h5>
<div class="scan-result">
    <div *ngIf="loader" class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="sr-only">{{'LOADING'|translate}}</span>
        </div>
    </div>
</div>