<div class="container text-center pb-0 mt-20 productivity" *ngIf="currentPage === 'productivity'">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
            <div class="row g-0 p-4 mt-20">
              <div class="col-4 col-md-2 px-0">
                <div>
                    <img src="../../../assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
                </div>
              </div>
              <div class="col-8 col-md-10 text-left px-0">
                  <h5 class="card-title fs-14 font-600 pl-0">
                  <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                  <div class="fs-22 heading3"> Basic Education</div>
                   
                   <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                  </h5>
              </div>
            </div>
      </div>
      </div>
     </div>
     <div>
        <img src="../../assets/images/onboard1.png" alt="">
     </div>
     <div class="heading3 pb-10">
        Boost Productivity
     </div>
     <div class="pb-50">
        Foc.io helps you boost your productivity on a different level
     </div>
     <div class="pb-10">
        <button type="button" class="onboard-btn" (click)="currentPage = 'work'">Next</button>
     </div>
  </div>

  <div class="container text-center pb-0 mt-20 work" *ngIf="currentPage === 'work'">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
            <div class="row g-0 p-4 mt-20">
              <div class="col-4 col-md-2 px-0">
                <div>
                    <img src="../../../assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
                </div>
              </div>
              <div class="col-8 col-md-10 text-left px-0">
                  <h5 class="card-title fs-14 font-600 pl-0">
                  <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                  <div class="fs-22 heading3"> Basic Education</div>
                   
                   <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                  </h5>
              </div>
            </div>
      </div>
      </div>
     </div>
     <div>
        <img src="../../assets/images/onboard2.png" alt="">
     </div>
     <div class="heading3 pb-10">
        Work Seamlessly 
     </div>
     <div class="pb-50">
        Get your work done seamlessly without interruption
     </div>
     <div class="pb-10">
        <button type="button" class="onboard-btn" (click)="currentPage = 'wallet'">Next</button>
     </div>
  </div>

  <div class="container text-center pb-0 mt-20 wallet" *ngIf="currentPage === 'wallet'">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
            <div class="row g-0 p-4 mt-20">
              <div class="col-4 col-md-2 px-0">
                <div>
                    <img src="../../../assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
                </div>
              </div>
              <div class="col-8 col-md-10 text-left px-0">
                  <h5 class="card-title fs-14 font-600 pl-0">
                  <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                  <div class="fs-22 heading3"> Basic Education</div>
                   
                   <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                  </h5>
              </div>
            </div>
      </div>
      </div>
     </div>
     <div>
        <img src="../../assets/images/onboard3.png" alt="">
     </div>
     <div class="heading2 pb-10">
        UlP Learner Wallet
     </div>
     <div class="pb-20">
        Welcome to your academic wallet
     </div>
     <div class="pb-10">
        <button type="button" class="login-btn">Login</button>
        <button type="button" class="register-btn">Register</button>
     </div>
  </div>
