.toolbar {
  cursor: pointer;

  
}


.tab.active{
  color: #3772FF;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  min-width: 50px;
}
.tab-label {
  // margin-top: 5px;
  // text-align: center;
  // display: flex;
  // justify-content: center;



  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  // white-space: nowrap;
  overflow: hidden;
  // transition: background-color 0.1s ease-in-out;
}

.tab-label:hover {
  background-color: #eeeeee;
}
