<div class="toolbar">
  <div (click)="raiseInteractEvent('home-tab')">
    <i class="fa fa-home fs-20" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></i>
  </div>
  <div (click)="raiseInteractEvent('search-tab')">
    <i class="fa fa-search fs-20" [routerLink]="['/search-certificates']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></i>
  </div>
  <div (click)="raiseInteractEvent('scan-code-tab')">
    <i class="fa fa-qrcode fs-20" [routerLink]="['/scan-code']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></i>
  </div>
  <div (click)="raiseInteractEvent('account-tab')">
    <i class="fa fa-user-circle-o fs-20"></i>
  </div>
</div>