<div class="container text-center pb-0 mt-20">
    <app-global-header [showTitle]="true"></app-global-header>
     <form *ngIf="aadharLogin">
      <div class="mb-3 pb-10">
        <label for="exampleFormControlInput1">{{'ENTER_AADHAAR_NO' | translate}}</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control p-4" id="exampleFormControlInput1" placeholder="3456*****">
          <i class="fa fa-eye-slash eye-icon" aria-hidden="true"></i>
        </div>
      </div>
      <p  class="text-secondary-color" (click)="aadharLogin = !aadharLogin">{{'SIGN_IN_AADHAR_OTP' | translate }}</p>
      <div class="pb-10">
        <button type="button" class="login-btn bg-blue-dark mt-4" data-toggle="modal" data-target="#exampleModal">{{'GET_OTP'| translate}}</button>
      </div>
    </form>

    <form *ngIf="!aadharLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 pb-10" >
        <label for="userName">{{'USERNAME' | translate}}</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control p-4" id="userName" name="userName" formControlName="userName"  placeholder="">
        </div>
        <p class="text-left text-red" *ngIf="userName.invalid && userName.touched">{{'ENTER_VALID_USERNAME' | translate }}</p>
        <label for="password">{{'PASSWORD' | translate}}</label>
        <div class="input-group mb-2">
          <input  [type]="showPassword ? 'text' : 'password'" class="form-control p-4" id="password" name="password" formControlName="password"  placeholder="">
          <button (click)="togglePasswordVisibility()" type="button"  class="btn-none">
            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
          </button>
        </div>
        <p class="text-left text-red" *ngIf="password.invalid && password.touched">{{'PASSWORD_REQUIRED' | translate }}</p>
      </div>

      <p class="text-secondary-color" (click)="aadharLogin = !aadharLogin">{{'SIGN_IN_USERNAME_PASSWORD' | translate }}</p>
      <div class="pb-10">
        <button type="submit" class="login-btn bg-blue-dark" [disabled]="loginForm.invalid">{{'LOGIN'| translate}}</button>
      </div>
    </form>
    <a class="pb-10 text-secondary-color" [routerLink]="['/register']">{{'NOT_REGISTERED' | translate }} <span class="text-underline">{{'REGISTER_HERE' | translate }}</span></a>
  </div>

  <!-- GET OTP POPUP -->

  <div class="modal" tabindex="-1"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title text-center text-primary-color pb-4">{{'ENTER_OTP' | translate}}</h5>
            <div class="input-group pb-40">
                <input type="text" class="form-control p-4" placeholder="{{'ENTER_OTP' | translate}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text bg-blue-dark text-white px-30 font-700" id="basic-addon2">{{'VERIFY' | translate}}</span>
                </div>
              </div>
            <div class="form-check pl-4">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  {{'SET_USERNAME_PASSWORD' | translate}}
                </label>
              </div>
        </div>
        <div class="modal-footer justify-content-space-evenly">
          <button type="button" class="login-btn bg-blue-dark mt-4" data-dismiss="modal" [routerLink]="['/User/documents/browse']">{{'LOGIN' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
