.otp-verify {
    top: 30%;
    border-radius: 46px;
    padding: 10px;
    .modal-content {
        border-radius: 17px;
    }
}
label {
    color: var(--primaryTextColor);
    font-size: 16px;
    text-align: left;
    display: block;
}
.form-check-input {
    border-color: var(--primaryColor);
}
.font-700 {
    font-weight: 700;
}
.form-control {
    background: #ffffff;
}
.login-btn {
    cursor: pointer;
}