<div class="container text-center pb-0 mt-20">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="row g-0 p-4 mt-20">
            <div class="col-3 col-md-2 px-0">
                  <img src="assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
            </div>
            <div class="col-8 col-md-10 text-left px-0 br-l h-62">
                <h5 class="card-title fs-14 font-600">
                <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                <div class="fs-22 heading3"> Basic Education</div>
                 
                 <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                </h5>
            </div>
          </div>
    </div>
      </div>
     </div>
     <div>
          <div class="heading2 pb-10">
            UlP Learner Wallet
        </div>
        <div class="pb-20">
          Welcome to your academic wallet
        </div>
     </div>
     <div class="mb-3 pb-10">
      <label for="exampleFormControlInput1">Enter Aadhaar no.</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control p-4" id="exampleFormControlInput1" placeholder="3456*****">
          <i class="fa fa-eye-slash eye-icon" aria-hidden="true"></i>
        </div>
    </div>
     <div class="pb-10">
        <button type="button" class="login-btn bg-blue-dark mt-4"  data-toggle="modal" data-target="#exampleModal">Get OTP</button>
     </div>
  </div>

  <!-- GET OTP POPUP -->

  <div class="modal" tabindex="-1"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog otp-verify">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title text-center text-primary-color pb-4">Enter OTP</h5>
            <div class="input-group pb-40">
                <input type="text" class="form-control p-4" placeholder="ENTER OTP" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text bg-blue-dark text-white px-30 font-700" id="basic-addon2">Verify</span>
                </div>
              </div>
            <div class="form-check pl-4">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Set Username & Password
                </label>
              </div>
        </div>
        <div class="modal-footer justify-content-space-evenly">
          <button type="button" class="login-btn bg-blue-dark mt-4" data-dismiss="modal" [routerLink]="['/User/documents/browse']">Login</button>
        </div>
      </div>
    </div>
  </div>
