<button class="navbar-toggler p-0 m-0 custom-toggler mr-2" type="button" data-toggle="collapse"
  data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
  aria-label="Toggle navigation">
  <i class="fa fa-bars toggler"></i>
  <!-- <span class="navbar-toggler-icon"></span> -->
</button>
<div class="ham-menu">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav nav-tabs-line mb-2 mb-lg-0">
      <li class="nav-item">
        <div class="float-left pr-10"><img src="assets/images/account.png" alt="Account"></div>
        <div class="pl-10">
          <div class="fs-16">{{'ACCOUNT' | translate}}</div>
          <div class="fs-14 text-gray-100">{{'PRIVACY_SECURITY_OR_NUMBER' | translate}}</div>
        </div>
      </li>
      <li class="nav-item">
        <div class="float-left pr-10"><img src="assets/images/security.png" alt="Security"></div>
        <div class="pl-10">
          <div class="fs-16">{{'SECURITY' | translate}}</div>
          <div class="fs-14 text-gray-100">{{'MANAGE_ACCOUNT_DETAILS' | translate}}</div>
        </div>
      </li>
      <li class="nav-item">
        <div class="float-left pr-10"><img src="assets/images/help.png" alt="Help"></div>
        <div class="pl-10">
          <div class="fs-16">{{'HELP' | translate}}</div>
          <div class="fs-14 text-gray-100">{{'HELP_CENTER_CONTACT_US_PRIVACY_POLICY' | translate}}</div>
        </div>
      </li>
      <li class="nav-item" [routerLink]="['manage-enrollment']" >
        <div class="float-left pr-10"><img src="assets/images/scanner.png" alt="Manage"></div>
        <div class="pl-10">
          <div class="fs-16">{{'MANAGE_ENROLLMENT_CONFLICTS' | translate}}</div>
          <div class="fs-14 text-gray-100">{{'NETWORK_USAGE_AUTO_DOWNLOAD' | translate}}</div>
        </div>
      </li>
      <li class="nav-item">
        <div class="float-left pr-10"><img src="assets/images/logout.png" alt=""></div>
        <div class="pl-10">
          <div class="fs-16">{{'LOGOUT' | translate}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>