<button class="navbar-toggler p-0 m-0 custom-toggler mr-2" type="button" data-toggle="collapse"
  data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
  aria-label="Toggle navigation">
  <i class="fa fa-bars toggler"></i>
  <!-- <span class="navbar-toggler-icon"></span> -->
</button>
<div class="ham-menu">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav nav-tabs-line mb-2 mb-lg-0">
      <li class="nav-item cursor-pointer">
        <div class="float-left pr-10">
          <i class="fa fa-user float-left fs-26" aria-hidden="true"></i>
        </div>
        <div class="pl-10">
          <div class="fs-16">{{ "ACCOUNT" | translate }}</div>
          <div class="fs-14 text-gray-100">
            {{ "PRIVACY_SECURITY_OR_NUMBER" | translate }}
          </div>
        </div>
      </li>
      <li class="nav-item cursor-pointer" [routerLink]="['set-username']">
        <div class="float-left pr-10">
          <i class="fa fa-shield-alt float-left fs-26" aria-hidden="true"></i>
        </div>
        <div class="pl-10">
          <div class="fs-16">{{ "SECURITY" | translate }}</div>
          <div class="fs-14 text-gray-100">
            {{ "MANAGE_ACCOUNT_DETAILS" | translate }}
          </div>
        </div>
      </li>
      <li class="nav-item dropdown cursor-pointer" (click)="showLanguageModal()">
        <div class="float-left pr-10">
          <i class="fa fa-globe float-left fs-26" aria-hidden="true"></i>
        </div>
        <div class="pl-10">
          <div class="fs-16">{{ "CHOOSE_LANGUAGE" | translate }}</div>
          <div class="fs-14 text-gray-100">Select Langugae</div>
        </div>
      </li>
      <!-- <li class="nav-item" [routerLink]="['set-username']">
        <div class="float-left pr-10"><img src="assets/images/account.png" alt="Security"></div>
        <div class="pl-10">
          <div class="fs-16">Set Username and Password</div>
          <div class="fs-14 text-gray-100">Set username and password</div>
        </div>
      </li> -->
      <li class="nav-item cursor-pointer">
        <div class="float-left pr-10">
          <i class="fa fa-headset float-left fs-26" aria-hidden="true"></i>
        </div>
        <div class="pl-10">
          <div class="fs-16">{{ "HELP" | translate }}</div>
          <div class="fs-14 text-gray-100">
            {{ "HELP_CENTER_CONTACT_US_PRIVACY_POLICY" | translate }}
          </div>
        </div>
      </li>
      <!-- <li class="nav-item" [routerLink]="['manage-enrollment']" >
        <div class="float-left pr-10"><img src="assets/images/scanner.png" alt="Manage"></div>
        <div class="pl-10">
          <div class="fs-16">{{'MANAGE_ENROLLMENT_CONFLICTS' | translate}}</div>
          <div class="fs-14 text-gray-100">{{'NETWORK_USAGE_AUTO_DOWNLOAD' | translate}}</div>
        </div>
      </li> -->
      <li class="nav-item cursor-pointer" (click)="logOut()">
        <div class="float-left pr-10">
          <i class="fa fa-sign-out-alt float-left fs-26" aria-hidden="true"></i>
        </div>
        <div class="pl-10">
          <div class="fs-16">{{ "LOGOUT" | translate }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<ng-template #languageSwitchModal>
  <div class="modal-content">
    <div class="modal-body fs-14">
      <div class="text-center form-group fs-20">
        <label for="language" class="fs-16">{{"CHOOSE_LANGUAGE" | translate}}</label>
        <div class="d-flex justify-content-space-evenly pt-3">
          <a class="langauge-bx" *ngFor="let language of languages" (click)="changeLanguage(language.code)">
            <div class="fs-16">
              {{ language.name }}
            </div>
          </a>
        </div>

        <!-- <label for="language">{{'CHOOSE_LANGUAGE' | translate}}</label> -->
        <!-- <select class="form-select" *ngIf="languages?.length" id="langauage" [(ngModel)]="selectedLanguage"
          (ngModelChange)="changeLanguage()">
          <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
        </select> -->
      </div>
    </div>
  </div>
</ng-template>