.language-btn{
    width: 12%;
    background: none;
    border: none;
    padding-top: 0;
}
.fs-26{
    font-size: 26px ;
}
select.form-control:focus{
    border: none;
    outline: 0;
    box-shadow: none;
}
.langauge-bx{
    // border: solid 1px var(--primaryColor);
    border: 1px solid  var(--searchBoxBorder) !important;

    padding: 5px 30px;
    border-radius: 7px;
    .fs-16{
         color: var(--btnNameColor);
    }
    cursor: pointer;
}


