<div class="container text-center pb-0 mt-20 pl-40">
    <div class="d-flex justify-content-between pl-25">
        <div>
            <div class="head-title">Hi <span class="text-blue-shade0">Vivek</span></div>
            <div class="text-gray-100">Welcome back to Wallet</div>
        </div>
        <div><img src="assets/images/notify.png" alt=""></div>
    </div>
</div>
<div class="container text-center pb-0 mt-20">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 linear-bg">
                <div class="row g-0 p-4">
                    <div class="col-4 col-md-2 text-right">
                        <div>
                            <img src="assets/images/headerlogo.png" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col-8 col-md-10 text-left">
                        <h5 class="card-title fs-14 font-600">
                            <span class="text-gray-0 fs-12">DEPARTMENT OF</span> <br>
                            <span class="fs-16"> Basic Education</span><br>

                            <span class="text-orange fs-10">GOVERNMENT OF UTTAR PRADESH</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center pb-0 mt-20" *ngIf="showIssuers">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card mb-3" (click)="toggleResults()">
                <div class="row g-0 p-4">
                    <div class="col-2 align-self-center">
                        <div class="img-circle">
                            <img src="assets/images/acadmic.png" class="img-fluid rounded-circle bg-secondary-light"
                                alt="...">
                        </div>
                    </div>
                    <div class="col-8 align-self-center">
                        <h5 class="card-title fs-16 font-600">Academic Certificates</h5>
                    </div>
                    <div class="col-2 align-self-center">
                        <div class="text-circle">
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" (click)="toggleResults()">
                <div class="row g-0 p-4">
                    <div class="col-2 align-self-center">
                        <div class="img-circle">
                            <img src="assets/images/enroll.png" class="img-fluid rounded-circle bg-secondary-light"
                                alt="...">
                        </div>
                    </div>
                    <div class="col-8 align-self-center">
                        <h5 class="card-title fs-16 font-600">Enrollement Certificates</h5>
                    </div>
                    <div class="col-2 align-self-center">
                        <div class="text-circle">
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" (click)="toggleResults()">
                <div class="row g-0 p-4">
                    <div class="col-2 align-self-center">
                        <div class="img-circle">
                            <img src="assets/images/benefit.png" class="img-fluid rounded-circle bg-secondary-light"
                                alt="...">
                        </div>
                    </div>
                    <div class="col-8 align-self-center">
                        <h5 class="card-title fs-16 font-600">Benefit Records</h5>
                    </div>
                    <div class="col-2 align-self-center">
                        <div class="text-circle">
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2" *ngIf="showFetchedDocuments">
    <!-- <h6 class="font-weight-bold mt-3"><i onClick="history.go(-1); return false;" class="fas fa-chevron-left mr-2" aria-hidden="true"></i>{{'BROWSE_ISSUED_DOCUMENTS'|translate}}</h6>
     <p class="p14 mt-3 mb-2">{{'SELECT_AND_DOWNLOAD_ISSUED_DOCUMENTS'|translate}}</p>
    <ul class="nav nav-tabs mb-3 fs-14" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active fs-14" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{{'BY_DOCUMENT'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-14" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">{{'BY_ISSUER'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-14" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">{{'BY_CATEGORY'|translate}}</button>
        </li>
    </ul> -->
    <div class="row">
        <div class="col-6 font-600">Issued documents</div>
        <div class="col-6  text-right"><a href="#" class="text-blue-shade0 font-600">View All</a></div>
    </div>
    <div class="tab-content mt-20" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col search-area mb-3">
                    <div class="input-append">
                        <input class="w-100" type="text" placeholder="{{ 'SEARCH_DOCUMENTS' | translate}}"
                            aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-template ngFor let-item [ngForOf]="documentTypes" let-i="index">
                    <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2">
                        <!-- <a [routerLink]="['add',item.osid]"> -->
                        <a [routerLink]="['/User/documents/detail',item?.policyName, item.osid]">
                            <div class="card height-100">
                                <div class="card-body">
                                    <div class="card-intro-info">
                                        <div class="card-title mb-2 fs-14">{{item.title}}
                                        </div>
                                        <div class="text-grey fs-12">{{item.issuer}}</div>
                                    </div>
                                    <div class="card-image">
                                        <img src="{{item.logoUrl}}" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>