.card{
    box-shadow: 0px 5.84541px 24.3559px -11.6908px rgb(15 15 15 / 9%);
    border-radius: 20.4211px !important;
    padding: 3px 0 !important;
}

.modal-content {
    .btn {
        color: #FFF !important;
    }
}