<div class="container text-center pb-0 mt-20">
  <app-global-header [showTitle]="true"></app-global-header>

  <p class="text-danger">It seems you have not completed your KYC. Please complete your one time KYC here</p>
  <form [formGroup]="aadharForm" (ngSubmit)="getOTP()">
    <div class="mb-3 pb-10">
      <label for="aadharId">{{'ENTER_AADHAAR_NO' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control p-4" id="aadharId" name="aadharId" placeholder="3456*****"
          formControlName="aadharId" maxLength="12" (keypress)="OnlyNumbersAllowed($event)">
        <!-- <i class="fa fa-eye-slash eye-icon" aria-hidden="true"></i> -->
      </div>
      <p class="text-danger" *ngIf="aadharId.invalid && aadharId.touched">{{'INCORRECT_AADHAR' | translate}}</p>
    </div>
    <div class="pb-10">
      <button type="submit" class="login-btn bg-blue-dark mt-4">{{'GET_OTP'| translate}}</button>
    </div>
  </form>
</div>

<!-- GET OTP POPUP -->

<ng-template #otpModal tabindex="-1" role="dialog" aria-labelledby="otpModal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" role="button" data-dismiss="modal" aria-label="Close"
        (click)="closeOTPModal()"></button>
    </div>
    <div class="modal-body">
      <h5 class="modal-title text-center text-primary-color pb-4">{{'ENTER_OTP' | translate}}</h5>
      <div class="input-group">
        <input type="number" class="form-control p-4" placeholder="{{'ENTER_OTP' | translate}}" [(ngModel)]="otp"
          (keypress)="OnlyNumbersAllowed($event)">
        <div class="input-group-append" (click)="submitOTP()">
          <span class="input-group-text bg-blue-dark text-white px-30 font-700" role="button"
            id="basic-addon2">{{'VERIFY' | translate}}</span>
        </div>
      </div>
      <p class="text-center pt-4 text-underline cursor-pointer" role="button" (click)="resendOTP()">{{'RESEND_OTP' | translate}}</p>
    </div>
  </div>
</ng-template>

<div class="text-center" *ngIf="isLoading">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>