<router-outlet></router-outlet>
<ng-template>
  <footer class="bg-dark fixed-bottom">
    <div class="container-fluid">
      <div class="p-3">
        <a class="text-muted fs-7" href="#">&copy; {{footerText}}</a>
      </div>
    </div>
  </footer>
</ng-template>
<div class="toolbar">
  <div >
    
    <img src="../../assets/images/house.png" alt="">

  </div>
      <div>
          <img src="../../assets/images/search.png" alt="">
      </div>
      <div>
          <img src="../../assets/images/scan.png" alt="">
      </div>
      <div>
          <img src="../../assets/images/profile.png" alt="">
      </div>
  </div>
