<div>
  <h1 class="title font-600 px-3"><i class="fa fa-arrow-left pr-3"></i>Manage enrollment conflicts</h1>
  <h2 class="sub-title pb-4">
    The following schools have registered you,<br />
    kindly select which enrollment is correct
  </h2>
  <table cellspacing="0" cellpadding="0" class="m-2">
    <tr>
      <th class="w-10">Select</th>
      <th class="w-60">Schools</th>
      <th class="w-30">Contact</th>
    </tr>
    <tr>
      <td>
        <div class="form-check pl-4">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </td>
      <td class="fs-14">D.A.V Public School, Gurugram</td>
      <td class="fs-13">+91 8255363256</td>
    </tr>
    <tr>
      <td>
        <div class="form-check pl-4">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        </div>
      </td>
      <td class="fs-14">Delhi Public School, Delhi</td>
      <td class="fs-13">+91 8255363256</td>
    </tr>
  </table>
  <div class="text-center mt-4">
    <button type="Submit" value="Submit" class="btn btn-secondary bg-blue-dark btn-padding">
      Submit
    </button>
  </div>
</div>
