.title {
  font-weight: 500;
  font-size: 20px;

  margin-top: 40px;
}
.sub-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #373737;
  margin-top: 40px;
}
.table-property {
  border-collapse: collapse;

  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

td,
th {
  text-align: center;
  padding: 8px;
  color: #373737;
}
.register-button {
  height: 3rem;
  width: 16em;
  border-radius: 5px;
  margin-top: 4rem;
  font-weight: 600;
  background: #1e2060;
  font-size: 16px;
  color: white;
}
.th,
td,
input {
  font-family: Poppins;
  margin-left: 5px;
}

.enrollment-button-div {
  width: 100%;
  text-align: center;
}
.enrollment-button {
  text-align: center;
}
.back-arrow {
  color: #434343;
}
.entrollment-component .title {
  width: 100%;
}
#myForm {
  text-align: center;
}
