<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
  </head>
  <div>
    <h1 class="title">Manage enrollment conflicts</h1>
    <h2 class="sub-title">
      The following schools have registered you,<br />
      kindly select which enrollment is correct
    </h2>
    <table class="table-property">
      <tr>
        <th>Select</th>
        <th>Schools</th>
        <th>Contact</th>
      </tr>
      <tr>
        <td>
          <input
            class="form-check-input position-static"
            type="checkbox"
            id="blankCheckbox"
            value="option1"
            aria-label="..."
          />
        </td>
        <td>D.A.V Public School, Gurugram</td>
        <td>+91 8255363256</td>
      </tr>
      <tr>
        <td>
          <input
            class="form-check-input position-static"
            type="checkbox"
            id="blankCheckbox"
            value="option1"
            aria-label="..."
          />
        </td>
        <td>Delhi Public School, Delhi</td>
        <td>+91 8255363256</td>
      </tr>
    </table>
    <button type="Submit" value="Submit" class="btn btn-lg register-button">
      Submit
    </button>
  </div>
</html>
