<div class="container text-center pb-0 mt-20 pl-40">
  <div class="d-flex justify-content-between pl-25">
    <div>
      <div class="head-title">
        {{ "HI" | translate }}
        <span class="text-blue-shade0">{{
          authService?.currentUser?.student_name
          }}</span>
      </div>
      <div class="text-gray-100">{{ "WELCOME_BACK" | translate }}</div>
    </div>
    <!-- <div><img src="assets/images/notify.png" alt="" /></div> -->
  </div>
</div>
<div class="container text-center pb-0 mt-20 wallet">
  <app-global-header [showBackground]="true"></app-global-header>
</div>


<div class="container mt-2">
  <div class="row">
    <div class="col-6 font-600" *ngIf="schema?.name?.length">{{schema?.name}}</div>
    <div class="col-6 font-600" *ngIf="!schema">{{ "ISSUED_DOCUMENTS" | translate }}</div>
    <!-- <div class="col-6 text-right">
          <a href="#" class="text-blue-shade0 font-600">{{"VIEW_ALL" | translate}}</a>
      </div> -->
  </div>
  <div class="tab-content mt-20" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="col search-area mb-3">
          <div class="input-append">
            <input class="w-100" type="text" [(ngModel)]="searchKey" placeholder="{{ 'SEARCH_DOCUMENTS' | translate }}"
              aria-label="Search" />
            <i class="fas fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2"
          *ngIf="credentials$ | async as credentialList; else loading">
          <ng-container *ngIf="(credentialList | filterCertificate:searchKey) as filteredList; else: noItems">
            <div class="card" *ngFor="let item of filteredList" (click)="renderCertificate(item)">
              <div class="card-body">
                <div class="card-image">
                  <img [src]="item?.logoUrl ? item.logoUrl : 'assets/images/headerlogo.png'" />
                </div>
                <div class="card-intro-info">
                  <div class="mb-2 fs-14">
                    {{ item?.credential_schema?.name }}
                  </div>
                  <div class="text-grey fs-12">
                    {{ item?.credential_schema?.schema?.description }}
                  </div>
                </div>
              </div>
            </div>
            <p *ngIf="!filteredList.length" class="text-center">{{'NO_RECORDS_FOUND' | translate}}</p>
          </ng-container>
          <ng-template #noItems class="text-center">{{'NO_RECORDS_FOUND' | translate}}</ng-template>
        </div>
        <ng-template #loading class="text-center">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem" role="status">
              <span class="sr-only">{{ "LOADING" | translate }}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>