<div class="container text-center pb-0 mt-20">
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
          <div class="row g-0 p-4 mt-20">
            <div class="col-4 col-md-2 px-0">
              <div>
                  <img src="../../../assets/images/headerlogo.png" class="img-fluid pb-40" alt="...">
              </div>
            </div>
            <div class="col-8 col-md-10 text-left px-0">
                <h5 class="card-title fs-14 font-600 pl-0 br-l ml-2 pl-3">
                <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
                <div class="fs-22 heading3"> Basic Education</div>
                 
                 <div class="text-orange fs-12">GOVERNMENT OF UTTAR PRADESH</div> 
                </h5>
            </div>
          </div>
    </div>
    </div>
   </div>
   <div>
      <img src="../../assets/images/onboard3.png" alt="">
   </div>
   <div class="heading2 pb-10">
      AVSAR Learner Wallet
   </div>
   <div class="pb-20">
      Welcome to your academic wallet
   </div>
   <div class="pb-10">
      <button type="button" class="login-btn bg-blue-dark">Login using Aadhar</button>
      <button type="button" class="register-btn">Login using Username & Password</button>
   </div>
</div>
